@use '../variables/colors' as *;
@use '../variables/fonts' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	// outline: 1px solid lime;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	min-width: 34rem;
	font-size: 1.6rem;
	font-weight: 300;
	font-family: $font;
	font-style: normal;
	background-color: $first;
	color: $second;
}

a {
	text-decoration: none;
	color: $first;
	cursor: pointer;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}
