@use '../variables/colors' as *;
@use '../variables/fonts' as *;

@media only screen and (min-width: 1440px) {
	.slider {
		height: 71rem;

		&__track-container {
			height: 67rem;
			width: 125rem;
		}

		&__slide {
			min-width: 125rem;
			&-info-bottom {
				margin-bottom: 1.7rem;
				h4 {
					margin-bottom: -11rem;
					font-size: 2.1rem;
				}

				&-text {
					bottom: -12.7rem;
					left: 27rem;
					font-size: 1.9rem;
				}
			}
			&-button {
				margin-bottom: -14rem;
				margin-left: 6rem;

				button {
					font-size: 1.9rem;
					padding: 1.5rem 5.2rem 1.7rem 2.2rem;
				}
				::before {
					top: 1.7rem;
					width: 1.9rem;
					height: 1.9rem;
				}
			}
		}
		&__slide-link {
			&--1 {
				background-image: url('../img/slider/1-slide-xlarge-selena.jpg');
			}
			&--2 {
				background-image: url('../img/slider/2-slide-xlarge-quest.jpg');
			}
			&--3 {
				background-image: url('../img/slider/3-slide-xlarge-believe.jpg');
			}
			&--4 {
				background-image: url('../img/slider/4-slide-xlarge-see.jpg');
			}
			&--5 {
				background-image: url('../img/slider/5-slide-xlarge-causeway.jpg');
			}
			&--6 {
				background-image: url('../img/slider/6-slide-xlarge-shantaram.jpg');
			}
			&--7 {
				background-image: url('../img/slider/7-slide-xlarge-morning.jpg');
			}
			&--8 {
				background-image: url('../img/slider/8-slide-xlarge-sisters.jpg');
			}
			&--9 {
				background-image: url('../img/slider/9-slide-xlarge-acapulco.jpg');
			}
		}

		&__previous {
			right: calc(50% + 630px);
		}

		&__next {
			left: calc(50% + 630px);
		}
	}
}
