@use '../variables/colors' as *;
@use '../variables/fonts' as *;

@media only screen and (min-width: 1024px) {
	.heroes {
		grid-template-rows: 74rem 68rem 68rem;
	}

	.iPad-hero {
		&__picture {
			background-size: 360rem;
			background-image: url('../img/hero/hero_ipad__rh99l6c3yuyy_large.jpg');
		}
	}

	.iPhone-hero {
		&__picture {
			background-size: 370rem;
			background-image: url('../img/hero/hero_iphone14__fjmsqstr1ceq_large.jpg');
		}

		&__text {
			top: 5rem;
		}
	}

	.endframe-hero {
		&__picture {
			background-size: 340rem;
			background-position: center -1.5rem;
			background-image: url('../img/hero/hero_endframe__8xosbwdvpaqe_large.jpg');
		}

		&__text {
			max-width: 50rem;
			bottom: 5rem;
		}
	}

	.text-title {
		font-size: 5.6rem;
	}

	.text-content {
		font-size: 2.8rem;
	}

	.text-link {
		font-size: 2.1rem;
	}

	.promos {
		grid-template-rows: repeat(3, 58rem);
	}

	.promo-picture {
		background-size: 130rem;
	}

	.iPhone-promo {
		&__picture {
			background-image: url('../img/promo/promo_iphone14pro__4n4twj56fzmu_large.jpg');
		}
	}

	.tv-promo {
		&__picture {
			background-image: url('../img/promo/promo_tv4k_avail__e17d9isb0vwy_large.jpg');
		}

		&__text-title {
			background-image: url('../img/promo/promo_tv4k_logo__5m5umvk10duu_large.png');
		}
	}

	.iPad-promo {
		&__picture {
			background-image: url('../img/promo/promo_ipadpro__ch217v9v7no2_large.jpg');
		}

		&__text-content::before {
			top: -0.3rem;
			right: -2rem;

			background-image: url('../img/promo/promo_m2_chip__enw2kz91lsuq_large.png');
		}
	}

	.watchU-promo {
		&__picture {
			background-image: url('../img/promo/promo_apple_watch_ultra__gnsqulvdc4a6_large.jpg');
		}

		&__text-title {
			height: 6rem;
			background-image: url('../img/promo/promo_logo_apple_watch_ultra__ebzaahharnue_large.png');
		}
	}

	.watch8-promo {
		&__picture {
			background-image: url('../img/promo/promo_apple_watch_series_8__ch7rexplmihe_large.jpg');
		}

		&__text-title {
			height: 6rem;
			background-image: url('../img/promo/promo_logo_apple_watch_series_8__ee6riplsucuq_large.png');
		}
	}

	.fit-promo {
		&__picture {
			background-image: url('../img/promo/promo_applefitnessplus_taylorswift__liig90blwtuu_large.jpg');
		}

		&__text-title {
			background-image: url('../img/promo/applefitness_logo_promo__gnq1diylj3qm_large.png');
		}

		&__text-content {
			max-width: 32rem;
		}
	}

	.text-M-title {
		font-size: 4rem;
	}

	.text-M-content {
		font-size: 2.1rem;
	}

	.text-M-link {
		font-size: 1.7rem;
	}

	.slider {
		height: 56rem;

		&__track-container {
			height: 52rem;
			width: 98rem;
		}

		&__slide {
			min-width: 98rem;

			&-info-bottom {
				margin-bottom: -11rem;
			}
		}
		&__slide-link {
			&--1 {
				background-image: url('../img/slider/1-slide-large-selena.jpg');
			}
			&--2 {
				background-image: url('../img/slider/2-slide-large-quest.jpg');
			}
			&--3 {
				background-image: url('../img/slider/3-slide-large-believe.jpg');
			}
			&--4 {
				background-image: url('../img/slider/4-slide-large-see.jpg');
			}
			&--5 {
				background-image: url('../img/slider/5-slide-large-causeway.jpg');
			}
			&--6 {
				background-image: url('../img/slider/6-slide-large-shantaram.jpg');
			}
			&--7 {
				background-image: url('../img/slider/7-slide-large-morning.jpg');
			}
			&--8 {
				background-image: url('../img/slider/8-slide-large-sisters.jpg');
			}
			&--9 {
				background-image: url('../img/slider/9-slide-large-acapulco.jpg');
			}
		}

		&__previous {
			right: calc(50% + 495px);
		}

		&__next {
			left: calc(50% + 495px);
		}
	}
}
