$first: #f5f5f7;
$second: #1d1d1f;
$third: #000000;
$smoke: #6e6e7370;
$smoke-light: #f5f5f7;
$link: #0066cc;
$bgcolor: #fff;
$bgdark: #010127;
$foot-border: #d2d2d7;
$foot-text: #6e6e73;
$foot-link: #424245;
$foot-link-blue: #06c;
$button: #0071e3;
