@use '../variables/colors' as *;

.wrapper,
.mobi-wrapper {
	margin: 0 auto;
	width: 100%;
	min-width: 30rem;
}

.wrapper {
	max-width: 100.24rem;
}

.mobi-wrapper {
	max-width: 60rem;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(0px 0px 99.9% 99.9%);
	overflow: hidden;
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
}

.main {
	background-color: $bgcolor;
}

.heroes > *,
.promos > * {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.text-title,
.text-M-title {
	margin-bottom: 0.5rem;
	font-size: 3rem;
	font-weight: 700;
}
.text-content,
.text-M-content {
	margin-bottom: 1.2rem;
	font-size: 1.8rem;
	font-weight: 400;
}

.text-link,
.text-M-link {
	padding: 1.5rem;
	font-size: 1.8rem;
	font-weight: 400;
	color: $link;
}

.text-white {
	color: $first;
}

.text-link:hover,
.text-M-link:hover {
	text-decoration: underline;
}
