@use '../variables/colors' as *;
@use '../variables/fonts' as *;

.header {
	position: relative;
}

.nav {
	position: fixed;
	top: 0;
	height: 4.4rem;
	width: 100%;
	background-color: rgba($color: $second, $alpha: 0.9);
	z-index: 5;

	img {
		height: 100%;
		width: 100%;
	}
}

.nav-top {
	position: absolute;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	transform: translateY(-100%);
	left: 0;
	right: 0;
	height: 100vh;
	background-color: $third;
	transition: transform 0.7s;

	&__container-one {
		padding: 4.5rem 1.5rem 1.5rem 1.5rem;
		width: 100%;
		border-bottom: 1.5px solid $smoke;
	}

	&__input-form {
		display: block;
		width: 100%;
		height: 4rem;
		border-radius: 1rem;
		border: none;
		background-image: url('../img/nav/globalnav_search_image__grey.svg');
		background-position: 1.5rem 1.4rem;
		background-repeat: no-repeat;
		padding-left: 40px;
		background-color: $second;
		font-family: $font;
		font-size: 1.7rem;
		font-weight: 300;
	}

	&__input-form::placeholder {
		color: $first;
		opacity: 0.3;
	}

	&__input-form:focus {
		color: $first;
	}

	&__container-two {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		padding: 0 3.5rem;
		width: 100%;
	}

	&__item {
		width: 100%;
		border-bottom: 1.5px solid $smoke;
	}

	&__item:last-child {
		border-bottom: none;
	}

	&__link {
		display: block;
		padding: 1.3rem 0;
		color: rgba($color: $first, $alpha: 0.8);
	}
}

.nav-bar {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4.4rem;
	z-index: 5;

	&__input-search {
		position: relative;
	}

	&__input-form {
		display: block;
		width: 100%;
		min-width: 70rem;
		height: 2.7rem;
		border-radius: 1.5rem;
		border: none;
		background-image: url('../img/nav/globalnav_search_image__grey.svg');
		background-position: 1.5rem 1.4rem;
		background-repeat: no-repeat;
		padding-left: 40px;
		background-color: $second;
		font-family: $font;
		font-size: 1.6rem;
		font-weight: 300;
	}

	&__input-form::placeholder {
		color: $first;
		border: none;
		opacity: 0.3;
	}

	&__input-form:focus {
		color: $first;
		border: none;
	}

	&__input-close {
		position: absolute;
		top: 0;
		right: 1rem;
		width: 2.7rem;
		height: 2.7rem;
		cursor: pointer;
		img {
			filter: invert(45%) sepia(6%) saturate(284%) hue-rotate(202deg) brightness(92%) contrast(87%);
		}
	}

	&__burger,
	&__logo,
	&__search,
	&__bag {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 4.4rem;
		width: 4.4rem;
		opacity: 0.8;
	}

	&__input-search {
		display: none;
	}

	&__bag {
		position: relative;
		margin-right: 1rem;
		transition: opacity 0.3s;
		cursor: pointer;
	}

	&__bag-amount {
		position: absolute;
		top: 0.5rem;
		left: 2.5rem;
		padding: 0.1rem 0.6rem;
		background-color: $link;
		font-size: 1.3rem;
		color: $first;
		text-align: center;
		border-radius: 0.5rem;
	}

	&__search {
		display: none;
	}

	&__list {
		display: none;
		margin-bottom: 0.3rem;
	}

	&__burger {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		cursor: pointer;
		&-bel {
			margin: 0.3rem;
			height: 0.1rem;
			width: 2rem;
			background-color: $first;
			transition: transform 0.3s;
		}
	}
}

.click-btn {
	.nav-bar__burger-bel--up {
		transform: rotate(-45deg) translateX(-5px);
	}
	.nav-bar__burger-bel--down {
		transform: rotate(45deg) translateX(-5px);
	}
}

.nav-hidden {
	transform: translateY(0);
}

.bag-hidden {
	transform: scale(0);
}

.nav-item-animation {
	animation: navItemAnimation 1s both;
}
